<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ username }}</title>
    <link rel="stylesheet" href="/static-files/main_dz19.css">

</head>
<body>

    <h2 class="text" >ID: {{ uuid }}</h2>

    <div class="text">
        Title: {{ title }}
    </div>
    <div class="text">
        Content: {{ content }}
    </div>
    <div class="text">
        Created at: {{ created_at }}
    </div>

    <button class="custom-btn btn-11"><a class="text" href="/"> Main  </a><div class="dot"></div></button>




</body>
</html>