{% extends 'base.html' %}

{% block title %}
    {{ note.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h2 class="display-5 link-body-emphasis mb-1">About US</h2>
            <br>
            <h3 class="display-5 link-body-emphasis mb-1">25 Awesome About Us Page Examples</h3>
            <br>
            <h6 class="display-5 link-body-emphasis mb-1">The About Us page of your website is an essential source of information for all who want to know more
                about your business.

                About Us pages are where you showcase your history, what is unique about your work, your company’s
                values, and who you serve.



            </h6>

        </div>


    </div>
{% endblock %}
