<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">


    <div class="container-fluid ">

        {#    Лого сайта  #}
        <a class="navbar-brand" href="/">Posts</a>

        {#      Для мобильной версии  #}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {#      Главная   #}
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{% url 'home' %}">Home</a>
                </li>

                {#      Создать заметку   #}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create-note' %}">Create</a>
                </li>

                {#      О нас    #}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About us</a>
                </li>

                {% if user.is_authenticated %}

                    {# Выход #}
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="nav-link" type="submit"> {{ user.username| upper }} : Выйти</button>
                        </form>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'user_notes' user.username %}">My notes </a>
                </li>



                {% else %}
 
                    {# Вход #}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Войти</a>
                    </li>

                    {#      Регистрация   #}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register'  %}">Зарегистрироваться</a>
                    </li>

                {% endif %}
            </ul>


            {#    Форма поиска (по умолчанию метод GET)   #}
            <form class="d-flex"  action="{% url 'filter-notes' %}">
                <input name="search" value="{{ search_value_form }}"
                 class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>


        </div>
    </div>
</nav>