{% extends 'base.html' %}

{% block title %}
    {{ note.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h2 class="display-5 link-body-emphasis mb-1">{{ note.title | upper }}</h2>
            <p class="blog-post-meta">{{ note.created_at }}</p>
            <p class="blog-post-meta">Note modified at: {{ note.mod_time }}</p>
        </div>
        {% if user.is_authenticated and note.user.username == user.username %}
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">

                <a href="{% url 'update-note' note.uuid %}" class="btn btn-warning">Update</a>

                <form action="{% url 'delete' note.uuid %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        {% endif %}
        <hr>


        {#  Image  #}
        {% if note.image %}
            <div class="d-flex justify-content-center">
                <img style="max-height: 150px;" src="{{ note.image.url }}" alt="not loaded">
            </div>
        {% endif %}


        <div>:{{ note.content | safe | linebreaks }}</div>

    </div>
{% endblock %}
